@font-face {
    font-family: 'deja';
    src: url('../font/DejaVuSansMono.ttf');
}

html, body {
    width:  100%;
    height: 100%;
    background: #000;
    color: #ff3600;
    font-size: 20;
    font-family: 'deja';
    margin: 0;
    padding: 0;
}

a {
    color: #ffff00;
}

#content {
    margin: 0;
    padding: 0;
}

#top_bar {
    width: 100%;
    margin: 0;
    padding: 0;
}

#top_bar a {
//    color: #888;
}


#output {
    color: #ffffff;
    position: absolute;
    left: 0px;
    top: 1.2em;
    z-index: 999;
}

#compiled {
    color: #ffffff;
    position: absolute;
    left: 0px;
    top: 1.2em;
    z-index: 999;
}

#id_code {
    position: absolute;
    left: 0px;
    top: 1.2em;
//    font-family: 'deja'; important;
    font-size: 200%;
    border: 0;
    color: #ffffff;
    background-color: transparent;
    z-index: 999;
    width: 100%;
    height: 100%;
}

#id_parent {
    visibility: hidden;
}

#id_locked {
    visibility: hidden;
}

label {
    visibility: hidden;
}

#canvas {
    position: absolute;
    left: 0px;
    top: 1.2em;
    width: 100%;
    height: 100%;
}
