{% extends "base.html" %}

{% block content %}
<div style="margin:1em; float:left; width:45%;">
<h2>(planet-fluxus) BETA</h2>
<p><i>"act of a flowing; a continuous moving on or passing by, as of a flowing stream; a continuous succession of changes"</i></p>
<p><a href="http://toplap.org">livecode</a> webgl with <a href="http://en.wikipedia.org/wiki/Scheme_%28programming_language%29">scheme</a>. click on a script to the right to run it, edit them online and make new ones by forking</p>
<p>incomplete and flakey, requires reading bits of generated javascript for debugging, and probably only works in selected versions of firefox or
chrome. attempting to approximate <a href="http://www.pawfal.org/fluxus">fluxus</a></p>

<p> love and respect to:
<a href="http://www.sketchpatch.net/labs/livecodelabIntro.html">livecodelab</a>
<a href="https://github.com/jonbro/jsaxus">jaaxus</a> &
<a href="http://www.i2off.org/flaxus/screen.html">flaxus</a></p>


<p><a href="/new_sketch" style="color:red;">make a new script</a></p>

<p><a href="https://github.com/nebogeo/planet-fluxus">source</a></p>

</div>
<div style="margin:1em; float:right; width:45%;">
{% if sketches %}
    {% for sketch in sketches %}
        <p><a href="/sketch/{{ sketch.id }}/">{{ sketch.code }}</a></p>
    {% endfor %}
{% else %}
    <p>No sketches are available.</p>
{% endif %}
</div>
{% endblock %}
