{% extends "base.html" %}

{% block content %}
<h2>(planet-fluxus) BETA</h2>

<p>click on a script below to run it, edit them online and make new ones by forking</p>
<p>attempting to approximate <a href="http://www.pawfal.org/fluxus">fluxus</a><br/> 
love and respect to: 
<a href="http://www.sketchpatch.net/labs/livecodelabIntro.html">livecodelab</a>
<a href="https://github.com/jonbro/jsaxus">jaaxus</a>
<a href="http://www.i2off.org/flaxus/screen.html">flaxus</a>
<a href="http://www.toplap.org">toplap</a><br/>
the source can be found <a href="https://github.com/nebogeo/planet-fluxus">here</a></p>

<p>requires webgl and probably only works in some recent version of firefox or chrome</p>

{% if sketches %}
    {% for sketch in sketches %}
        <p><a href="/sketch/{{ sketch.id }}/">{{ sketch.code }}</a></p>
    {% endfor %}
{% else %}
    <p>No sketches are available.</p>
{% endif %}

{% endblock %}
